.modal-window {
  position: fixed;
  top: 50%;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 95%;
  max-width: 1000px;
  z-index: -1;
  opacity: 0;
  display: none;
  background: #fff;
  padding: 25px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.modal-window.js-window-absolute {
  position: absolute;
  left: 0 !important;
  top: 0 !important;
  max-width: 100% !important;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body.overflow-owt {
  overflow: hidden !important;
}

.modal-window.js-active {
  display: block;
  z-index: 9999
}

.closemodal {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  background: url(../img/modal-close.png) no-repeat;
  width: 16px;
  height: 16px;
  display: block
}

.modal-shadow {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  margin: auto;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  z-index: 9000
}

.modal-shadow.js-active {
  display: block
}