.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: -1;
  opacity: 0;
  display: none;
  background-color: rgba(0,0,0,0.5);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 25px;
}

.modal-window .modal-window__wrap {
  background: #fff;
  padding: 25px;
  position: relative;
  width: 95%;
  max-width: 1000px;
  margin: auto;
}


body.modal-window_active {
  overflow: hidden !important;
}

.modal-window.modal-window_active {
  display: flex;
  z-index: 9999
}

.modal-window__close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  background: url(../img/modal-close.png) no-repeat;
  width: 16px;
  height: 16px;
  display: block
}


@media (max-width: 500px) {
  .modal-window {
    padding: 10px;
  }
}